# init.mione.rc
# init script for xiaomi mione
#
# Author: Tommy Alex
# Create: 2012-11-23 13:03


import init.qcom.rc

# most of the following are from boot.img of mioneplus_QDS81

on init
    export EXTERNAL_STORAGE /storage/sdcard0
# create mountpoints
    mkdir /mnt/media_rw/sdcard0 0700 media_rw media_rw
    mkdir /mnt/media_rw/usbdisk0 0700 media_rw media_rw
    mkdir /storage/sdcard0 0700 root root
    mkdir /storage/usbdisk0 0700 root root
    mkdir /vendor/firmware 0775 system system

# for backwards compatibility
    symlink /storage/sdcard0 /sdcard
    symlink /storage/sdcard0 /mnt/sdcard
    symlink /storage/usbdisk0 /usbdisk0
    symlink /storage/usbdisk0 /mnt/usbdisk0

on boot
    chown system system /sys/class/leds/backlight/brightness
    chown system system /sys/class/leds/flashlight/brightness
    chmod 0666 /sys/class/leds/flashlight/brightness
    chown system system /sys/class/leds/torch-flash/brightness
    chown system system /sys/class/timed_output/vibrator/pattern

    # support cpufreq policy for cpu1
    chown system system /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor
    chmod 0664 /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor
    chown system system /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq
    chmod 0664 /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq

# Assign TCP buffer thresholds to be ceiling value of technology maximums
# Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max  3461120
    write /proc/sys/net/core/wmem_max  3461120

    chmod 0444 /proc/cmdline

    class_start late_start

on fs
# mount mmc partitions
    exec /sbin/dualboot_init ./fstab.mione
    mount_all ./fstab.mione.patched
    #Setting permissons for misc partition
    chmod 0666 /dev/block/platform/msm_sdcc.1/by-name/misc

# modem firmware
    mount vfat /dev/block/mmcblk0p1 /firmware ro shortname=lower
# make modem firmware available at /vendor/firmware/image ( /vendor symlink to /system/vendor )
    mkdir /system/vendor/firmware/ 0755 system system
    symlink /firmware/image /system/vendor/firmware/image
    exec /system/bin/sh /system/etc/init.qcom.modem_links.sh

on post-fs-data
# double check /data/radio
    mkdir /data/radio 0770 radio radio
    chmod 2770 /data/radio
# support for hostapd
    mkdir /data/misc/wifi/hostapd 0777 wifi wifi

# InputMethodManagerService
    mkdir /data/system/inputmethod 0755 system system

on property:sys.boot_completed=1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 384000
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq 384000

service fuse_sdcard0 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard0 /storage/sdcard0
    oneshot
    disabled

service fuse_usbdisk0 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/usbdisk0 /storage/usbdisk0
    oneshot
    disabled

on charger
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/system /system wait ro barrier=1
    write /sys/module/rpm_resources/enable_low_power/L2_cache 1
    write /sys/module/rpm_resources/enable_low_power/pxo 1
    write /sys/module/rpm_resources/enable_low_power/vdd_dig 2
    write /sys/module/rpm_resources/enable_low_power/vdd_mem 2
    write /sys/module/rpm_resources/enable_low_power/rpm_cpu 1
    write /sys/module/pm_8x60/modes/cpu0/power_collapse/suspend_enabled 1
    write /sys/module/pm_8x60/modes/cpu1/power_collapse/suspend_enabled 1
    write /sys/module/pm_8x60/modes/cpu0/standalone_power_collapse/suspend_enabled 1
    write /sys/module/pm_8x60/modes/cpu1/standalone_power_collapse/suspend_enabled 1
    write /sys/module/pm_8x60/modes/cpu0/power_collapse/idle_enabled 1
    write /sys/module/pm_8x60/modes/cpu1/power_collapse/idle_enabled 1
    write /sys/module/pm_8x60/modes/cpu0/standalone_power_collapse/idle_enabled 1
    write /sys/module/pm_8x60/modes/cpu1/standalone_power_collapse/idle_enabled 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "userspace"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 192000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_setspeed 192000
    write /sys/devices/system/cpu/cpu1/online 0
    setprop sys.usb.config adb


service chargeonlymode /sbin/chargeonlymode
    class charger


on property:sys.mione.battlevel=low
    stop thermald
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 594000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 972000
    write /sys/devices/platform/kgsl-3d0.0/kgsl/kgsl-3d0/max_gpuclk 200000000


on property:sys.mione.battlevel=high
    write /sys/devices/platform/kgsl-3d0.0/kgsl/kgsl-3d0/max_gpuclk 266667000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2000000
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 2000000
    start thermald
